@charset "UTF-8"; /* Define os caracteres da página */

/* Pega uma fonte baixada */
@font-face {
    font-family: "fonte-crianca";
    src: url(assets/kindergarten.ttf) format("truetype");
}

/* Variáveis */
:root {
    --fundo-fase: #996699;
    --fundo-botao: #986701;
    --fundo-botao-clicado: #99ff00;
    --borda: #973405;
}

/* Reset */
* {
    font-family: "fonte-crianca";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    display: flex;
    justify-content: center;
}

.fase {
    /* Número que indica a fase */
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--fundo-fase);
    text-align: center;
    font-size: 6em;
    border-radius: 50%;
    border: 5px solid var(--borda);
    width: 100px;
    height: 100px;
}

.fase.clicavel {
    /* Número que indica a fase no último nível */
    cursor: pointer;
}

.fase.clicavel:hover {
    /* Número que indica a fase no último nível */
    background-color: var(--fundo-botao-clicado);
}

.titulo {
    /* Título e perguntas */
    text-align: center;
    width: 80%;
    padding: 20px;
    font-size: clamp(4em, 10vw, 7em);
}

.pergunta {
    /* Pergunta */
    font-size: 3.6em;
    width: 90%;
}

/* Main */

main {
    text-align: center;
    flex: 1;
}

/* Main do index */
.main-principal {
    display: flex;
    text-align: center;
    align-items: center;
}

.main-principal section {
    flex-grow: 1;
}

.main-principal section img {
    width: 20vw;
}

section.section-botoes-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
    gap: 40px;
}

/* Main da página de instruções */
.main-instrucoes {
    padding: 50px;
}

.main-instrucoes :not(.botao) {
    font-size: clamp(3em, 4.5vw, 5em);
    margin-bottom: 30px;
}

/* Main da página de créditos */
.main-creditos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: auto;
}

.main-creditos + footer {
    font-size: clamp(2em, 4.5vw, 5em);
    text-align: center;
}

/* Main da página de perguntas */
.main-perguntas {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-auto-rows: minmax(150px, auto);
    gap: 30px;
    justify-content: center;
    align-content: center;
}

/* Botões */
.botao {
    border: 10px solid var(--borda);
    background-color: var(--fundo-botao);
    color: black;
    font-size: clamp(2.5em, 5vw, 3em);
    min-width: 80%;
    text-decoration: none;
    cursor: pointer;
}

.botao:hover {
    scale: 1.05;
    background-color: var(--fundo-botao-clicado);
}

/* Footer */
footer {
    text-align: end;
    padding: 20px;
    font-size: 1.5em;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    .botao {
        font-size: 2.5em;
    }
    .main-perguntas {
        grid-template-columns: repeat(2, 300px);
    }
    .pergunta {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 900px) {
    .main-perguntas {
        grid-template-columns: 1fr 1fr;
    }    
}    

@media screen and (max-width: 500px) {
    .main-perguntas {
        grid-template-columns: 1fr;
    }    
}